Package: com.m4cs.fieldtest
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Filename: ./debs/com.m4cs.fieldtest.deb
Description: Safari Launcher for your CC.
Name: EzFieldtest
Author: M4cs Development Team
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezFieldtest
Version: 0.1-beta-3+debug
Installed-Size: 140
