Package: com.macs.unplugged
Name: UnPlugged
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs
Author: Macs
Section: Tweaks
Version: 0.0.1-6+debug
Installed-Size: 117
