Package: com.m4cs.phone
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Filename: ./debs/com.m4cs.phone.deb
Description: Phone Launcher for your CC.
Name: EzPhone
Author: M4cs Development Team
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezPhone
Version: 0.1-beta-2+debug
Installed-Size: 132
