<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>height</key>
			<string>128</string>
			<key>icon</key>
			<string>banner.png</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Choose amount of toggles.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.auxilium.switcherPrefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>kWidth</string>
			<key>label</key>
			<string>Number of Toggles</string>
			<key>validTitles</key>
			<array>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Apply Changes.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By</string>
		</dict>
		<dict>
			<key>action</key>
			<string>ContactmacsTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@auxmacs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>ContactmisTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@MidnightChip</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Join the Auxilium Discord! :)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>AuxiliumDiscord</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>discord.png</string>
			<key>label</key>
			<string>Auxilium Discord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>None of our products will be locked behind patreon</string>
			<key>label</key>
			<string>Support US! If you want, you know you don't have to :)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Buy us a donut!</string>
		</dict>
		<dict>
			<key>action</key>
			<string>patreon</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>patreon.png</string>
			<key>label</key>
			<string>Help pay for our server costs :)</string>
		</dict>
	</array>
	<key>title</key>
	<string>switcherPrefs</string>
</dict>
</plist>
