Package: com.m4cs.playmusic
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Filename: ./debs/com.m4cs.playmusic.deb
Description: Google Play Music Launcher for your CC.
Name: EzPlayMusic
Author: M4cs Development Team
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezPlaymusic
Version: 0.1-beta-1+debug
Installed-Size: 140
