Package: com.ezccmodules.control-center.ezsafemodemodule
Name: EzSafemode
Architecture: iphoneos-arm
Description: A Safemode toggle for your Control Center. Requires Silo
Author: M4cs
Section: Control Center (Modules)
Maintainer: M4cs
Version: 0.0.1-1+debug
Installed-Size: 136
