Package: com.macs.auxilium.sleekmusicls
Name: SleekMusicLS
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs (macs@m4cs.xyz)
Author: Macs (macs@m4cs.xyz)
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 69
