Package: com.macs.colorswitcher
Name: ColorSwitcher
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Add any color to the App Switcher! Requires libcolorpicker!
Maintainer: Macs (macs@gmail.com)
Author: Macs (macs@gmail.com)
Section: Tweaks
Version: 0.0.3
Installed-Size: 474
