Package: com.auxilium.betterswitcher
Name: BetterSwitcher
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs
Author: Macs
Section: Tweaks
Version: 0.0.1-4+debug
Installed-Size: 133
