<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Background view alpha.</string>
		</dict>
		<dict>
			<key>showValue</key>
			<true/>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>PostNotification</key>
			<string>com.tonyk7.darkSwitcherPrefs/settingsupdated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.tonyk7.darkSwitcherPrefs</string>
			<key>key</key>
			<string>backgroundAlpha</string>
		</dict>
	</array>
	<key>title</key>
	<string>DarkSwitcher</string>
</dict>
</plist>
