Package: com.auxiliumctfs.ctfflag2
Name: CTF Flag 2
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Ah... so you found it.
Maintainer: Thanos
Author: Thanos
Section: Tweaks
Version: 0.0.2
Installed-Size: 117
