Package: com.simalary.controlcenter.ezautobrightness
Name: EzAutoBrightness
Architecture: iphoneos-arm
Description: A Control Center Module to toggle Auto Brightness
Author: Chris Harper / Simalary <19harperc@gmail.com>
Section: Control Center (Modules)
Maintainer: Chris Harper / Simalary <19harperc@gmail.com>
Version: 1.0.0-2+debug
Installed-Size: 84
