Package: com.m4cs.discord
Version: 0.1-beta
Section: Tweaks
Maintainer: M4cs (macs@m4cs.xyz)
Depends: mobilesubstrate
Conflicts: 
Architecture: iphoneos-arm
Filename: ./debs/com.m4cs.discord.deb
Description: Discord Launcher for your CC.
Name: EzDiscord
Author: M4cs Development Team
Depiction: https://M4cs-Development.github.io/repo/depictions/?p=ezDiscord