<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lockscreen</string>
			<key>footerText</key>
			<string>Remove wallpaper blur on the lockscreen.  Move the slider to adjust the tint.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>lockBlur</string>
			<key>label</key>
			<string>Disable Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>ltintf</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder</string>
			<key>footerText</key>
			<string>Removes blur from the folder icons and background.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>foldBBlur</string>
			<key>label</key>
			<string>Disable Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>foldIBlur</string>
			<key>label</key>
			<string>Disable Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Switcher</string>
			<key>footerText</key>
			<string>Removes blur in app switcher.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>appSwitch</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spotlight</string>
			<key>footerText</key>
			<string>Removes the blur in the spotlight.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>sblur</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock</string>
			<key>footerText</key>
			<string>Removes the blur from the dock.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>dockBlur</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Control Center</string>
			<key>footerText</key>
			<string>Removes the blur from the Control Center.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>cc</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>cctint</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notification Center</string>
			<key>footerText</key>
			<string>Removes the blur from the Notification Center.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>nc</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>nctint</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notifications</string>
			<key>footerText</key>
			<string>Removes the blur from the Notification Banners.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>bb</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.6</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>btint</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Navigation Bars</string>
			<key>footerText</key>
			<string>Removes the blur from the Navigation Bars in apps.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>navbar</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptorSuppressHiddenAppsKey</key>
			<true/>
			<key>ALSettingsKeyPrefix</key>
			<string>navbar-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.xtm3x.noblur.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Keyboard</string>
			<key>footerText</key>
			<string>Removes the blur from the background of the keyboard.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>keyblur</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>keyboardTintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptorSuppressHiddenAppsKey</key>
			<true/>
			<key>ALSettingsKeyPrefix</key>
			<string>keyblur-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.xtm3x.noblur.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Quick Reply</string>
			<key>footerText</key>
			<string>Removes the blur from the background of the quick reply view.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>qrblur</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>In-Call</string>
			<key>footerText</key>
			<string>Removes the blur from the background of the in call view.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>callblur</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Siri</string>
			<key>footerText</key>
			<string>Removes the blur from the background of Siri.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>siri</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>siriTintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HUD</string>
			<key>footerText</key>
			<string>Removes the blur from the volume/brightness HUD.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>volumeHUD</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>HUDTintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Video Player</string>
			<key>footerText</key>
			<string>Removes the blur from the iOS video player.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>videoPlayer</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>playerTintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Force Touch</string>
			<key>footerText</key>
			<string>Removes the blur from Force Touch shortcut menus.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>forceTouch</string>
			<key>label</key>
			<string>Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.4</real>
			<key>defaults</key>
			<string>com.xtm3x.noblur</string>
			<key>key</key>
			<string>FTTintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<!-- <key>cellClass</key>
 			<string>FancySliders</string> -->
			<key>showValue</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Individual Options</string>
</dict>
</plist>
