Package: com.macs.switcherview11
Name: SwitcherView11
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs
Author: Macs
Section: Tweaks
