Package: io.ominousness.modernxi
Name: ModernXI
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 0.1.0
Architecture: iphoneos-arm
Description: A tweak that does something weird to notifications.
Maintainer: Ominousness
Author: Ominousness
Section: Tweaks
