Package: com.ezccmodules.control-center.ezlocationmodule
Name: EzLocationModule
Version: 0.0.1
Architecture: iphoneos-arm
Description: A toggle to turn Location Services on or off from your control center.
Author: Chilaxan and M4cs
Section: Control Center (Modules)
Maintainer: Chilaxan and M4cs