Package: com.macs.colorswitcher
Name: ColorSwitcher
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Add color to the App Switcher
Maintainer: Macs (macs@gmail.com)
Author: Macs (macs@gmail.com)
Section: Tweaks
