Package: test3
Name: test3
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Hal0405
Author: Hal0405
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 101
