<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string>Note: The sender email needs to be added to the stock Mail app. You can set up to 5 email addresses to send to.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>senderEmail</string>
			<key>label</key>
			<string>Sender Email</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>firstReceiverEmail</string>
			<key>label</key>
			<string>Receiver Email 1</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>secondReceiverEmail</string>
			<key>label</key>
			<string>Receiver Email 2</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>thirdReceiverEmail</string>
			<key>label</key>
			<string>Receiver Email 3</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>fourthReceiverEmail</string>
			<key>label</key>
			<string>Receiver Email 4</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>fifthReceiverEmail</string>
			<key>label</key>
			<string>Receiver Email 5</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Email content</string>
			<key>footerText</key>
			<string>Custom text will be added to the beginning of the email</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailTime</string>
			<key>label</key>
			<string>Time</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailDeviceDetails</string>
			<key>label</key>
			<string>Device Details</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailBattery</string>
			<key>label</key>
			<string>Battery Level</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailFrontPic</string>
			<key>label</key>
			<string>Front Picture</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailRearPic</string>
			<key>label</key>
			<string>Rear Picture</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailCustomText</string>
			<key>label</key>
			<string>Custom Text: </string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Email content</string>
			<key>footerText</key>
			<string>Needs InfoStats 2 (No WebCycript) installed from the following repository: http://xenpublic.incendo.ws/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailLocation</string>
			<key>label</key>
			<string>Include Current Location</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Manage Switches</string>
			<key>footerText</key>
			<string>PickPocket is using FlipSwitch to enable/disable these features. That means that you must manually enable/disable these features again upon retrieving your device.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailEnableCellular</string>
			<key>label</key>
			<string>Enable Cellular Data</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailEnableLocation</string>
			<key>label</key>
			<string>Enable Location Services</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailEnableWifi</string>
			<key>label</key>
			<string>Enable Wifi</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Send New Mail Every X Minutes</string>
			<key>footerText</key>
			<string>To send a new email every X minutes, enable the switch and choose the desired interval</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailRepeat</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>5</real>
			<key>defaults</key>
			<string>com.ziph0n.pickpocket10</string>
			<key>key</key>
			<string>mailEveryXMinutes</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>20</real>
			<key>PostNotification</key>
			<string>com.ziph0n.pickpocket10/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: Pictures are base64 encoded to embed them in the email. Unfortunately, Gmail does not support base64 encoded images; so if you see weird characters instead of images, please use another email client.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Email Options</string>
</dict>
</plist>
