Package: com.macs.bettercards
Name: BetterCards
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs (macs@gmail.com)
Author: Macs (macs@gmail.com)
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 117
