Package: com.macs.welcomelock
Name: Welcome Lock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Macs
Author: Macs
Section: Tweaks
